@charset "UTF-8";
img.socialguys {
    max-height: 70px;
    text-align: center;
}
.bg-twitch{
    background-color:#18181b!important;
}
a.bg-twitch:focus,a.bg-twitch:hover,button.bg-twitch:focus,button.bg-twitch:hover{
    background-color:#18181b!important;
}
.bg-back{
    background-color:#0e0e10!important;
}
a.bg-back:focus,a.bg-back:hover,button.bg-back:focus,button.bg-back:hover{
    background-color:#0e0e10!important;
}
.text-blank{
    color:  #efeff1 !important;
}
.bg-acc{
    background-color:#772ce8!important;
}
a.bg-acc:focus,a.bg-acc:hover,button.bg-acc:focus,button.bg-acc:hover{
    background-color:#772ce8!important;
}
#wrapper {
  overflow-x: hidden!important;
}
/* Hier is een sidebar-wrapper die ik heb gevonden plus hier kunnen we een sidebar maken */
#sidebar-wrapper {
min-height: 100vh!important;
margin-top: 6.1rem!important;
-webkit-transition: margin .25s ease-out!important;
-moz-transition: margin .25s ease-out!important;
-o-transition: margin .25s ease-out!important;
transition: margin .25s ease-out!important;
}

#sidebar-wrapper .sidebar-heading {
padding: 0.875rem 1.25rem;
font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
width: 15rem;
}

#page-content-wrapper {
min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
margin-left: 0;
}

@media (min-width: 768px) {
#sidebar-wrapper {
  margin-left: 0;
}

#page-content-wrapper {
  min-width: 0;
  width: 100%;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: -15rem;
}

#wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
}
}
#navbartrying{
  margin-left: -15rem!important;
}
/* Carousel base class */
.carousel {
  margin-bottom: 4rem;
}
.carousel-caption {
  bottom: 3rem;
  z-index: 10;
}
.carousel-item {
  height: 32rem;

}
.carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  margin: 0;
  max-width: 100%;
  height: 32rem;
}
.container{
        top:0;

    }
.card-body{
    height: 100px;
    color: white;
    background-color: #191919;
    
}
.videos{
    height: 600px;
    width: 700px;
    margin: 0;
}
.card-body a{
    text-decoration: none;
}
.card-title{
    font-size: 25px;
    margin-bottom: 10px;
    color: white;
}
.kanaal{
    color: #aaa;
}

.card-text{
    padding-top: 2px;
    margin-bottom: 20px;
}
.social-card-header{
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    height: 96px;
}
.social-card-header i {
    font-size: 32px;
    color:#FFF;
}
.card{
    width: 200px;
    


}
.alert{
    height: 80px;
}
a{
    color: none;
}
a:hover{
    color: white;
    text-decoration: none;
}

.share:hover {
        text-decoration: none;
    opacity: 0.8;
}
.info-section {
  display: table-cell;
  text-transform: uppercase;
  text-align: center;
  font-size: 10px;
  color: #aaa;
  text-align: left;
}
.info-section a{
    color: #aaa;
}
.col-md-4{
    width: 100px;
    height: 200px;
    margin-top: 40px;
}


.info-section label {
  display: block;
  margin-bottom: .1em;
  font-size: 12px;
}
@media screen and (max-width: 900px) {

  .container {
  }
  .col-md-4{
      margin-right: 100px;
  }
}

/* Hier is iets wat ik wil testen met de scrollbar */
/*
::-webkit-scrollbar {
    width: 15px;
    /* display: none; */
/*}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background: #772ce8;
}
::-webkit-scrollbar-thumb {
    background: #5d29ab; 
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #5d29ab; 
}*/